= label :champion, :name, "Name"
= text_field :champion, :name

= label :champion, :rating, "Rarity"
= select :champion, :rating, ['1','2','3','4','5']

= label :champion, :corigin, "Origin"
= text_field :champion, :corigin

= label :champion, :cclass, "Class"
= text_field :champion, :cclass
%br