%h1 All Champions

%table#champions
  %head
    %tr
      %th Champion Name
      %th Rarity
      %th Origin
      %th Class
      %th More Info
  %tbody
    - @champions.each do |c|
      %tr
        %td= c.name
        %td= c.rating
        %td= c.corigin
        %td= c.cclass
        %td= link_to "Details", champion_path(c)
        
= link_to 'Add new champion', new_champion_path