%h2 Details about #{@champion.name}

%ul#details
	%li 
		Rarity: 
		= @champion.rating

%h3 Attributes:
%ul#attributes
	%li 
		Origin:
		= @champion.corigin
	%li 
		Class:
		= @champion.cclass

= link_to "Delete Champion", champion_path, :method => :delete
%br
= link_to "Go back", champion_index_path